<div class="datitle"><a href="/"><h1>Welcome to Book Club in a Bags --Beta--</h1></a></div>
   <br class="yecclearboth">
   <div clas="topmenu">
   	<div class="onechoice"><%= link_to "Reserve a Book Club in a Bag", :controller => "reservations", :action => "listing" %></div>
   	<div class="onechoice">Check-out</div>
   	<div class="onechoice">Check-in</div>
   	<div class="onechoice">Reports</div>
   	<div class="onechoice">Admin</div>
   	</div>
 <br class="yecclearboth">